@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/dashboard/styleDashboard.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-12 col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item actve">
                        <i class="fa fa-key"></i>
                        <span>Publica nuevo anuncio</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-credit-card"></i>
                        <span>Mis Anuncios</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-arrow-circle-o-left"></i>
                        <span>Contactar</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-book"></i>
                        <span>Salir</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                
            </div>
        </div>
    </div>
</div>