@{
    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~"));
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="cabecera  cabecera-big clearfix text-center bg-rosa">
    <img src="~/img/cabecera-rosa.jpg" alt="imagen de fondo" class="hidden-xs img-responsive">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-wrapper dis-table">
                    <div class="cntr-elem text-left">
                        <h1 class="main-title block">¿Quieres trabajar a tope?</h1>
                        <h3 class="subtitle block">Publicar tus anuncios en HottEscorts.es hará que <br>aumentes tu clientela y mejores la calidad de los contactos.</h3>
                        <p class="anuncio-text">Anunciate <span class="bold">desde: <span class="big">20€</span> </span> <a href="#tarifas_rates" class="btn-anuncio no-deco">VER TARIFAS</a></p>
                        <h5 class="explic block">Es muy fácil!! empieza a generar contactos!</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="j_registro" style="display:none;">
                <div role="form" class="bg-form form-work clearfix" name="frmRegistro" id="frmRegistro">
                    <h3 class="rojo bold text-left">Regístrate aqui!</h3>
                    <div class="form-group">
                        <label for="registro_email" class="sr-only">Email</label>
                        <input type="email" class="form-control" name="txt_registro_email" id="txt_registro_email" placeholder="Tu cuenta de email">
                    </div>
                    <div class="form-group">
                        <label for="registro_telefono" class="sr-only">Telefono</label>
                        <input type="text" class="form-control" name="txt_registro_telefono" id="txt_registro_telefono" placeholder="Tu teléfono">
                    </div>
                    <div class="form-group">
                        <label for="registro_clave" class="sr-only">Contraseña</label>
                        <input type="password" class="form-control" name="txt_registro_clave" id="txt_registro_clave" placeholder="Elige tu contraseña">
                    </div>
                    <!--
                          <div class="form-group">
                          <div class="captcha">
                          <label for="registro_captcha" class="alta-captcha text-uppercase">NBB7</label>
                          <input type="text" name="registro_captcha" id="registro_captcha" class="captcha-box form-control" maxlength="4" placeholder="Código SPAM">
                          <input type="hidden" name="registro_captcha_control" id="registro_captcha_control" value="940e6c04d825b6303d5155673d1172112a4c4b00">
                          <input type="hidden" name="registro_captcha_control_js"  id="registro_captcha_control_js"  value="d0c0f5383262e62e67437dd74875d50acfdbf910">
                        </div>
                      </div>
                    -->

                    <input type="hidden" name="registro_cabecera_2017" id="registro_cabecera_2017" value="1">

                    <button type="submit" class="btn btn-top btn-main no-deco pull-left" name="registro_enviar" id="btn_registrar">REGISTRAR</button>
                </div>
                <div class="ok-mensaje bg-form" style="display:none" id="j_registro_ok">
                    <h2 class="title rosa text-uppercase bold">Confirmación</h2>
                    <p>Se te ha enviado un e-mail a la cuenta de correo que has introducido para validar tu cuenta y autorizar el acceso.</p>
                    <ul>
                        <li>Solo tienes que clicar en el enlace y ya podrás empezar a publicar tu anuncio</li>
                        <li>Revisa en tu bandeja de entrada y también en tu carpeta de Spam (Sobre todo si utilizas cuantas de Hotmail) y para mayor seguridad acuérdate de poner nuestra dirección entre la lista de remitentes seguros</li>
                        <li>
                            Si no recibes el correo en los próximos minutos mándanos un mail a
                            <a href="mailto:"></a>
                        </li>
                    </ul>
                    <p>Muchas gracias</p>

                </div>
                <div class="box-gris">
                    <p class="normal login-text"><span class="text">¿Ya eres cliente?</span> <a href="javascript:void(0);" title="login" id="btn_to_login" class="j_btn_to_login"> Entra aquí</a></p>
                </div>
                <div role="alert" class="alert alert-danger alerta-registro" id="j_registro_ko" style="display: none">
                    <strong>Error: </strong> No se ha podido realizar tu registro.
                    <br> <span id="j_registro_ko_detalle"></span>
                </div>
            </div>

            <div class="col-md-4" id="j_login">
                <div role="form" class="bg-form form-work clearfix" name="frmLogin" id="frmLogin" method="post">
                    <h3 class="rojo bold text-left">¿Tienes cuenta?</h3>
                    <div class="form-group">
                        <label for="login_email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="txt_login_email" name="txt_login_email" placeholder="Tu cuenta de email">
                    </div>
                    <div class="form-group">
                        <label for="login_clave" class="sr-only">Contraseña</label>
                        <input type="password" class="form-control" id="txt_login_clave" name="txt_login_clave" placeholder="Elige tu contraseña">
                    </div>
                    <button type="submit" id="btn_login" class="btn btn-top btn-main no-deco pull-left j_btn_login text-uppercase">Entrar</button>
                </div>
                <div class="box-gris">
                    <p class="normal login-text">
                        <span class="text">Eres nuevo en Hott<span class="rosa">Escorts</span>?</span>
                        <a href="javascript:void(0);" title="REGISTRATE AHORA!" id="btn_registrateahora" class="btn btn-block btn-registro j_btn_registrate_ahora no-deco text-uppercase">REGISTRATE AHORA!</a>
                    </p>
                </div>
                <div role="alert" class="alert alert-danger alerta-registro" id="j_login_ko" style="display: none">
                    <strong>Error: </strong> No se han podido verificar sus credenciales de acceso..
                </div>
            </div>
        </div>
    </div>

</div>

<div class="blq-serv clearfix bg-submain">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center" style="height: 295px;">
                <span class="icono">
                    <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="28.5 112.5 558 569" enable-background="new 28.5 112.5 558 569" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M441.9 440.1c12.6-12.6 22.1-26.9 28.5-42.8 6.3-15.9 9.5-32.1 9.5-48.7 0-16.5-3.2-32.8-9.5-49 -6.3-16.1-15.8-30.5-28.5-43.1 -12.6-12.6-26.9-22-42.8-28.2 -15.9-6.1-32.2-9.2-49-9.2s-33 3.1-49 9.2c-15.9 6.1-30.2 15.5-42.8 28.2 -12.6 12.6-22.1 27-28.5 43.1s-9.5 32.4-9.5 49c0 16.5 3.2 32.7 9.5 48.7s15.8 30.2 28.5 42.8c12.6 12.6 26.9 22.1 42.8 28.5 15.9 6.3 32.2 9.5 49 9.5 16.7 0 33-3.2 49-9.5C414.9 462.2 429.2 452.7 441.9 440.1zM515.3 183c22.9 22.8 40 48.7 51.4 77.4 11.4 28.8 17.1 58 17.1 87.8 0 29.8-5.7 59.1-17.1 87.8 -11.4 28.8-28.6 54.6-51.4 77.4 -18.4 18.4-38.8 33-61.2 44.1 -22.4 11-45.7 18.4-69.8 22 -24.1 3.7-48.2 3.5-72.5-0.6s-47.4-11.8-69.5-23.3L137.1 661c-6.1 6.1-12.9 10.6-20.2 13.5 -7.3 2.9-15 4.3-22.9 4.3s-15.6-1.4-22.9-4.3c-7.3-2.9-14.1-7.3-20.2-13.5S40.2 648.1 37.3 640.8c-2.9-7.3-4.3-15-4.3-22.9s1.4-15.6 4.3-22.9c2.9-7.3 7.3-14.1 13.5-20.2l101.6-101.6c-14.3-22.4-24.3-46.5-30-72.2 -5.7-25.7-7.2-51.4-4.6-77.1 2.7-25.7 9.6-50.7 20.8-75 11.2-24.3 26.6-46.2 46.2-65.8 22.8-22.4 48.7-39.4 77.4-50.8 28.8-11.4 58-17.1 87.8-17.1 29.8 0 59.1 5.7 87.8 17.1C466.7 143.7 492.5 160.6 515.3 183z"></path></svg>
                </span>
                <h2 class="title rosa">Bien posicionados!</h2>
                <p>Ocupamos primeras posiciones de Google con las palabras clave que te interesan</p>
            </div>
            <div class="col-sm-4 text-center" style="height: 295px;">
                <span class="icono">
                    <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 800 800" xml:space="preserve" enable-background="new 0 0 800 800" preserveAspectRatio="xMinYMin meet"><path d="M338.701 421.505c0 22.134-17.943 40.077-40.078 40.077 -22.134 0-40.076-17.943-40.076-40.077 0-22.134 17.943-40.077 40.076-40.077C320.758 381.428 338.701 399.371 338.701 421.505zM501.377 381.428c-22.134 0-40.078 17.943-40.078 40.077 0 22.134 17.944 40.077 40.078 40.077 22.134 0 40.077-17.943 40.077-40.077C541.454 399.371 523.511 381.428 501.377 381.428zM672.569 544.57v-4.566c-4.592 13.332-10.108 25.994-16.042 38.305 1.1 7.547 3.137 18.08 6.56 30.121 16.472 25.475 62.953 57.931 94.82 66.291 -17.182 7.298-37.88 10.302-58.012 7.222 18.442 23.204 44.43 44.274 81.098 56.809 -85.71 77.251-226.932 78.969-325.647 18.975 -19.129 5.626-37.824 8.574-55.347 8.574s-36.218-2.948-55.347-8.574c-98.715 59.995-239.936 58.276-325.646-18.975 37.402-12.786 63.634-34.466 82.137-58.219 -16.365 0.625-32.606-2.353-46.521-8.263 23.349-6.126 54.53-25.205 76.044-44.985 7.528-19.901 11.162-37.694 12.806-48.977 -5.934-12.311-11.45-24.973-16.042-38.305v4.566H78.963c-38.241 0-69.24-31-69.24-69.24v-76.164c0-26.315 14.681-49.198 36.299-60.913 0.726-108.136 32.243-192.59 93.81-250.976C200.901 29.366 288.435 0 400 0s199.1 29.366 260.168 87.277c61.567 58.386 93.083 142.839 93.81 250.976 21.617 11.715 36.298 34.598 36.298 60.913v76.164c0 38.24-30.999 69.24-69.24 69.24H672.569zM643.73 421.76c0-17.817-0.911-34.556-2.259-50.777 -31.239-28.58-88.39-50.134-160.452-57.736 11.433 10.249 21.25 23.917 26.501 43.432 -41.901-30.629-129.721-40.114-158.891-72.932l0.029-0.003c-46.431-30.735-58.615-74.757-59.007-56.537 -1.879 87.383-63.814 155.505-132.59 165.116 -0.435 9.61-0.792 19.312-0.792 29.436 0 36.935 6.031 70.596 16.286 100.933 38.631 46.599 102.43 59.757 158.899 63.248 10.482-16.679 34.003-28.322 61.394-28.322 37.136 0 67.24 21.369 67.24 47.73 0 26.361-30.104 47.73-67.24 47.73 -28.566 0-52.908-12.665-62.652-30.499 -39.466-2.294-82.85-9.021-121.517-27.28 54.38 80.15 138.676 122.534 191.32 122.534C482.723 717.833 643.73 613.33 643.73 421.76zM685.653 329.926h26.64C707.886 141.227 600.178 41.545 400 41.545S92.115 141.227 87.708 329.926h26.64c9.74-63.6 30.327-115.908 61.583-156.125C225.74 109.713 301.127 77.216 400 77.216s174.26 32.496 224.071 96.584C655.326 214.018 675.913 266.326 685.653 329.926z"></path></svg>
                </span>
                <h2 class="title rosa">Vocacion de servicio</h2>
                <p>Nuestros clientes son nuestros jefes y sus deseos son ordenes ;-)</p>
            </div>
            <div class="col-sm-4 text-center" style="height: 295px;">
                <span class="icono">
                    <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M14.897 14.622h9.1v9.374H13.865C13.924 20.653 14.287 17.49 14.897 14.622zM14.897 35.379h9.1v-9.375H13.865C13.924 29.348 14.287 32.51 14.897 35.379zM23.996 12.613V0.56c-3.683 0.723-6.842 5.383-8.622 12.053H23.996zM37.193 35.379h10.034c1.342-2.869 2.139-6.031 2.271-9.375H38.144C38.088 29.352 37.767 32.506 37.193 35.379zM37.193 14.622c0.573 2.871 0.895 6.027 0.952 9.374H49.5c-0.136-3.343-0.931-6.506-2.272-9.374H37.193zM36.738 12.613h9.435c-3.277-5.59-8.694-9.753-15.136-11.384C33.511 3.682 35.499 7.646 36.738 12.613zM23.996 49.439V37.387h-8.622C17.154 44.055 20.313 48.715 23.996 49.439zM34.625 12.613C32.847 5.945 29.688 1.285 26.004 0.56v12.053H34.625zM36.137 26.004H26.004v9.375h9.1C35.713 32.51 36.077 29.348 36.137 26.004zM0.5 26.004c0.135 3.344 0.932 6.506 2.273 9.375h10.031c-0.572-2.873-0.895-6.027-0.949-9.375H0.5zM13.262 37.387H3.828c3.277 5.59 8.694 9.754 15.137 11.385C16.49 46.318 14.502 42.354 13.262 37.387zM36.738 37.387c-1.239 4.967-3.225 8.932-5.701 11.385 6.441-1.631 11.856-5.797 15.136-11.385H36.738zM13.262 12.613c1.24-4.967 3.225-8.931 5.702-11.384C12.522 2.859 7.107 7.024 3.828 12.613H13.262zM35.104 14.622h-9.1v9.374h10.133C36.077 20.653 35.713 17.49 35.104 14.622zM2.773 14.622C1.432 17.49 0.634 20.653 0.5 23.996h11.355c0.055-3.347 0.377-6.503 0.949-9.374H2.773zM26.004 37.387v12.053c3.684-0.723 6.843-5.383 8.621-12.053H26.004z"></path></svg>
                </span>
                <h2 class="title rosa">Vision global</h2>
                <p>Vuestros clientes no solo estan en España pueden llegar de otros paises!</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="content">
    <div class="row wrapper">
        <div class="col-xs-12">
            <!-- que ofrecemos -->
            <div class="blq-ofrece clearfix text-center">
                <h2 class="title text-uppercase"><span>DISEÑO ATRACTIVO</span> &amp; <strong class="rosa">POTENTES HERRAMIENTAS</strong></h2>
                <h3 class="subtitle text-uppercase">TENEMOS LA <span>HERRAMIENTA DEFINITIVA</span> PARA QUE <span>TUS ANUNCIOS RECIBAN MUCHAS VISITAS</span></h3>
                <p>La rápida aceptación por profesionales y usuarios y nuestro afan por el trabajo bien hecho, nos hacen afrontar el futuro cercano y lejano cada vez con mayor optimismo. En poco tiempo, hemos conseguido ser considerados una guia referencia en el mundo de las escorts en internet y dia a dia, son mas los que nos siguen y confian en nosotros para publicar y buscar anuncios de escorts.</p>
                <div class="row blq-ofrece-espec mg30">
                    <div class="col-sm-3 text-center" style="height: 227px;">
                        <span class="icono">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 23.305 21.244" enable-background="new 0 0 23.305 21.244" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M21.761 8.335h-2.078v-6.2C19.683 0.961 18.721 0 17.548 0H2.135C0.961 0 0 0.961 0 2.135v9.011c0 1.176 0.961 2.135 2.135 2.135h1.97v6.207c0 0.968 0.791 1.756 1.756 1.756h3.906c0.966 0 1.757-0.789 1.757-1.756V13.28h1.412v3.107c0 0.848 0.694 1.543 1.544 1.543h7.281c0.85 0 1.544-0.693 1.544-1.543V9.877C23.305 9.028 22.61 8.335 21.761 8.335zM21.309 9.182c0.264 0 0.478 0.213 0.478 0.477 0 0.263-0.214 0.477-0.478 0.477s-0.477-0.213-0.477-0.477C20.832 9.396 21.045 9.182 21.309 9.182zM22.136 16.606h-8.03v-5.749h8.03V16.606zM19.942 9.183c0.264 0 0.477 0.213 0.477 0.476 0 0.263-0.213 0.476-0.477 0.476 -0.263 0-0.476-0.213-0.476-0.476C19.466 9.396 19.679 9.183 19.942 9.183zM17.069 1.089c0.345 0 0.624 0.279 0.624 0.624s-0.279 0.624-0.624 0.624c-0.344 0-0.624-0.279-0.624-0.624S16.725 1.089 17.069 1.089zM15.281 1.09c0.344 0 0.622 0.279 0.622 0.623 0 0.344-0.278 0.623-0.622 0.623 -0.345 0-0.623-0.279-0.623-0.623C14.658 1.369 14.937 1.09 15.281 1.09zM7.789 9.957c0-0.263 0.213-0.476 0.476-0.476s0.477 0.213 0.477 0.476 -0.214 0.476-0.477 0.476S7.789 10.22 7.789 9.957zM9.154 9.957c0-0.264 0.214-0.477 0.478-0.477s0.477 0.213 0.477 0.477c0 0.263-0.213 0.477-0.477 0.477S9.154 10.22 9.154 9.957zM10.195 19.737H5.437v-8.418h4.759L10.195 19.737 10.195 19.737zM11.524 11.449v-1.138c0-0.965-0.791-1.756-1.756-1.756H5.861c-0.965 0-1.756 0.791-1.756 1.756v1.138H1.617V3.391h16.447v4.944H14.48c-0.85 0-1.544 0.693-1.544 1.542v1.572H11.524z"></path></svg>
                        </span>
                        <h2 class="title"><strong>Multidispositivo</strong></h2>
                        <p>Una gua preparada para se compatible con todo tipo de tablets y moviles</p>
                    </div>
                    <div class="col-sm-3 text-center" style="height: 227px;">
                        <span class="icono">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 112 112" enable-background="new 0 0 112 112" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M74.666 0H0v74.666h74.666V0zM65.334 56H56c-1.814-6.762-5.771-9.907-10.822-11.232 -2.338 1.25-5.007 1.969-7.845 1.969 -2.833 0-5.502-0.714-7.84-1.969 -5.054 1.325-9.011 4.47-10.827 11.232H9.333V9.333h56L65.334 56 65.334 56zM37.333 42c7.731 0 14-6.268 14-14s-6.269-14-14-14c-7.733 0-14 6.268-14 14S29.602 42 37.333 42zM46.695 32.667c-1.723 3.444-5.25 5.833-9.361 5.833s-7.641-2.389-9.361-5.833H46.695zM23.833 79.334h55.501V55.235l6.977-27.421 -6.977-1.773v-9.632l18.32 4.662 -18.41 72.363L23.833 79.334zM112 42.826L83.896 112 14.718 83.896l0.765-1.875 67.136 17.084 5.963-23.437 11.257-27.71 -3.812-1.549 2.324-9.133L112 42.826z"></path></svg>
                        </span>
                        <h2 class="title"><strong>Fotos y videos</strong></h2>
                        <p>Podras publicar hasta 50 fotos y videos de alta calidad en tus anuncios.</p>
                    </div>
                    <div class="col-sm-3 text-center" style="height: 227px;">
                        <span class="icono">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M54.1 24.8l-0.3-0.1 -1.1-2.7 0.1-0.3c3.4-7.7 3.2-7.9 2.6-8.5L50.9 8.9c-0.2-0.2-0.5-0.3-0.8-0.3 -0.3 0-1 0-7.7 3l-0.3 0.1 -2.8-1.1 -0.1-0.3c-3.1-7.8-3.5-7.8-4.2-7.8h-6.4c-0.8 0-1.1 0-4 7.8l-0.1 0.3 -2.7 1.1 -0.3-0.1c-4.5-1.9-7.1-2.9-7.8-2.9 -0.3 0-0.6 0.1-0.8 0.3l-4.5 4.4c-0.6 0.6-0.8 0.8 2.8 8.3l0.1 0.3 -1.1 2.7 -0.3 0.1C1.9 27.9 1.9 28.2 1.9 29v6.2c0 0.8 0 1.1 8 4l0.3 0.1 1.1 2.7 -0.1 0.3c-3.4 7.7-3.2 7.9-2.6 8.5l4.5 4.4c0.2 0.2 0.5 0.3 0.8 0.3 0.3 0 1 0 7.7-3l0.3-0.1 2.8 1.1 0.1 0.3c3.1 7.8 3.5 7.8 4.2 7.8h6.4c0.8 0 1.1 0 4-7.8l0.1-0.3 2.7-1.1 0.3 0.1c4.5 1.9 7.1 2.9 7.8 2.9 0.3 0 0.6-0.1 0.8-0.3l4.5-4.4c0.6-0.6 0.8-0.8-2.8-8.3l-0.1-0.3 1.1-2.7 0.3-0.1c8-3.1 8-3.4 8-4.2v-6.2C62.1 27.9 62.1 27.6 54.1 24.8zM32 42.1c-5.7 0-10.3-4.5-10.3-10.1S26.3 21.9 32 21.9c5.7 0 10.3 4.5 10.3 10.1S37.7 42.1 32 42.1z"></path></svg>
                        </span>
                        <h2 class="title"><strong>Haztelo tu mismo!</strong></h2>
                        <p>Gestiona tus anuncios desde tu panel de forma muy sencilla y rapida</p>
                    </div>
                    <div class="col-sm-3 text-center" style="height: 227px;">
                        <span class="icono">
                            <svg xmlns="https://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 128 128" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M107.7 31C114.5 31 120 25.5 120 18.7c0-6.8-5.5-12.3-12.3-12.3s-12.3 5.5-12.3 12.3c0 4.8 2.7 8.9 6.7 10.9l-11 35.4C90.6 65 90.2 65 89.7 65c-3 0-5.8 1.1-7.9 2.9L65.5 54.5C66.5 52.8 67 50.8 67 48.7c0-6.8-5.5-12.3-12.3-12.3s-12.3 5.5-12.3 12.3c0 3.9 1.9 7.5 4.8 9.7L37.4 78.4c-1-0.3-2-0.4-3.1-0.4C27.5 78 22 83.5 22 90.3s5.5 12.3 12.3 12.3 12.3-5.5 12.3-12.3c0-3.9-1.9-7.5-4.8-9.7L51.6 60.6c1 0.3 2 0.4 3.1 0.4 2.9 0 5.5-1 7.6-2.7l16.3 13.5c-0.8 1.6-1.3 3.5-1.3 5.4 0 6.8 5.5 12.3 12.3 12.3S102 84.1 102 77.3c0-4.6-2.5-8.5-6.2-10.7l11.1-35.7C107.2 31 107.4 31 107.7 31zM8.6 104.7h5c1.9 0 3.4-1.5 3.4-3.4 0-1.9-1.5-3.4-3.4-3.4H8.6V82.5h5c1.9 0 3.4-1.5 3.4-3.4 0-1.9-1.5-3.4-3.4-3.4H8.6V60.3h5c1.9 0 3.4-1.5 3.4-3.4 0-1.9-1.5-3.4-3.4-3.4H8.6V38.2h5c1.9 0 3.4-1.5 3.4-3.4s-1.5-3.4-3.4-3.4H8.6V16h5C15.5 16 17 14.5 17 12.6s-1.5-3.4-3.4-3.4H8.6V0H0v119.4V128v0h8.6v0H128v-8.6H8.6V104.7z"></path></svg>
                        </span>
                        <h2 class="title"><strong>Estadisticas</strong></h2>
                        <p>Estadisticas completas de medicion de tu anuncio, contactos, visitas, etc.</p>
                    </div>
                </div>
            </div>
            <!-- linae separadorat -->
            <div class="clearfix sep-big mg30"></div>
            <!-- que proponemos -->
            <div class="blq-propuesta text-center mg30 clearfix">
                <h2 class="title rosa"><strong>Agencias de Escorts</strong></h2>
                <h3 class="subtitle">Si eres una agencia tenemos una excelente propuesta para tu empresa... </h3>
                <p>Disponemos de planes específicos para agencias y pisos. Se gestiona de diferente manera un anuncio que varios simultaneamente y el usuario también tiene gustos y necesidades diferentes, con nuestra propuesta para agencias te ofrecemos:</p>
                <div class="blq-ofrece-espec clearfix mg30">
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>VISIBILIDAD</strong></h2>
                        <p>Mejora la visibilidad mediente estrategias combinadas</p>
                    </div>
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>GESTIÓN</strong></h2>
                        <p>Gestión unica de todos los anuncios en un mismo panel de control</p>
                    </div>
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>OFERTAS</strong></h2>
                        <p>Ofertas y promociones especiales y adaptados a sus necesidades</p>
                    </div>
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>ATENCIÓN</strong></h2>
                        <p>Atencion telefonica preferente por E-mail y telefono</p>
                    </div>
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>EXTRAS</strong></h2>
                        <p>Avisos periodicos a nuestros contactos con ofertas plaza/habitacion</p>
                    </div>
                    <div class="col-sm-2 text-center" style="height: 149px;">
                        <h2 class="title rosa text-uppercase"><strong>RENTABILIDAD</strong></h2>
                        <p>Diseñamos la mejor propuesta para tu agencia de escorts</p>
                    </div>
                </div>
                <h4 class="subsubtitle">
                    <span>Publicar con HottEscorts.es es una opción rentable y eficaz</span><br>
                    Mejores resultados al mejor precio mandanos un mail a: <a href="mailto:eduardo@HottEscorts.es">eduardo@HottEscorts.es</a> y un asesor comercial le atenderá enseguida. Le realizaremos un estudio personalizado buscando siempre el mejor resultado a su campaña dentro de sus objetivos y posibilidades.
                </h4>
            </div>
            <!-- tarifas -->
            <div class="blq-tarifas clearfix mg30 bg-submain">
                <h2 class="title text-uppercase text-center">TARIFAS ANUNCIOS</h2>
                <h3 class="subtitle text-uppercase text-center">OFRECEMOS UNA GRAN VARIEDAD DE TIPOS DE ANUNCIOS</h3>
                <div class="table-responsive" id="tarifas_rates">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-uppercase" colspan="2" style="border-top-style: hidden;border-left-style: hidden;"></th>
                                <th class="text-uppercase text-center" colspan="2" style="background-color: #42433D; color:#FFFFFF;"><strong><img src="https://png.icons8.com/material/50/ffffff/marker.png"><br>MADRID Y BARCELONA</strong></th>
                                <th class="text-uppercase text-center" colspan="2" style="background-color: #42433D; color:#FFFFFF;"><strong><img src="https://png.icons8.com/material/50/ffffff/marker.png"><br>VALENCIA, SEVILLA Y BILBAO</strong></th>
                                <th class="text-uppercase text-center" colspan="2" style="background-color: #42433D; color:#FFFFFF;"><strong><img src="https://png.icons8.com/material/50/ffffff/marker.png"><br>RESTO DE PROVINCIAS</strong></th>
                            </tr>

                            <tr>
                                <th class="text-uppercase text-center"><strong>TIPO DE ANUNCIO</strong></th>
                                <th class="text-uppercase text-center"><strong>POSICIÓN DEL ANUNCIO</strong></th>

                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>30 DIAS</strong></th>
                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>( )TOP</strong></th>

                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>30 DIAS</strong></th>
                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>( )TOP</strong></th>

                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>30 DIAS</strong></th>
                                <th class="text-uppercase text-center" style="background-color: #e0e0e0;"><strong>( )TOP</strong></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Categoría 1</strong></td>
                                <td>Entre posiciones 1 a 15</td>
                                <td class="rosa text-center">110€</td>
                                <td class="rosa text-center">150€</td>
                                <td class="rosa text-center">50€</td>
                                <td class="rosa text-center">70€</td>
                                <td class="rosa text-center">20€</td>
                                <td class="rosa text-center">40€</td>
                            </tr>
                            <tr>
                                <td><strong>Categoría 2</strong></td>
                                <td>Entre posición 16 a 40</td>
                                <td class="rosa text-center">70€</td>
                                <td class="rosa text-center">120€</td>
                                <td class="rosa text-center">30€</td>
                                <td class="rosa text-center">60€</td>
                                <td class="rosa text-center">10€</td>
                                <td class="rosa text-center">30€</td>
                            </tr>
                            <tr>
                                <td><strong>Categoría 3</strong></td>
                                <td>Entre posición 41 a 150</td>
                                <td class="rosa text-center">30€</td>
                                <td class="rosa text-center">90€</td>
                                <td class="rosa text-center">10€</td>
                                <td class="rosa text-center">50€</td>
                                <td class="rosa text-center">0€</td>
                                <td class="rosa text-center">20€</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <p class="small text-center"></p>
            </div>
        </div>
    </div>
</div>
<script src="~/js/modulo/generales.js"></script>
<script src="~/js/modulo/tarifa/Tarifa.js"></script>