
@{
    ViewBag.Title = "Mis Anuncios";
    Layout = "~/Views/Shared/_LayoutAnuncio.cshtml";
}

<div id="contenidoRight">
    <img src="../img/top-content.gif">
    <div id="mig">
        <h2>Mis Anuncios</h2>
        <div id="anuncio" class="listaAnuncio clearfix">
            <a name="ref6978" id="ref6978"></a><img src="../cms/anuncios/l/guia-42766.jpg">
            <p style="color:#f39;"><strong>Nikita</strong></p>
            <p><strong>Referencia:</strong> 6978</p>

            <p></p>
            <p><strong>Este anuncio esta: </strong><strong style="color:#f39;">Pendiente de Pago</strong><a href="anunciosPromociones.php?anuncioID=6978" class="bt_pagar">pagar ahora</a></p>

            <br>
            <p>El anuncio ha sido visitado en los últimos días: <strong>0 veces</strong></p>
            <p>Te han mandado a través del formulario de correo: <strong>0 peticiones de contacto</strong></p>
            <br>
            <p><a href="estadisticas.php?anuncioID=6978">Estadisticas completas</a></p>
            <ul>
                <li><a href="anunciosMod.php?anuncioID=6978">Modificar Anuncio</a></li>
                <li><a href="agendas.php?anuncioID=6978">Agenda del anuncio</a></li>
                <li><a href="fotos.php?anuncioID=6978">Fotos del anuncio</a></li>
                <li><a href="estadisticas.php?anuncioID=6978">Estadisticas completas</a></li>
                <li><a href="videos.php?anuncioID=6978">Videos del anuncio</a></li>
                <li><a href="anunciosDel.php?anuncioID=6978">Dar de baja el anuncio</a></li>
            </ul>
        </div>
    </div>

    <img src="../img/bottom-content.gif">
    <script src="~/js/modulo/generales.js"></script>
</div>

