<div bgcolor="#F4F4F4" style="background-color:#f4f4f4;font-family: Arial;"">
	<div class="adM">
	</div>
	<table id="m_-1204851847043800377header" cellpadding="0" cellspacing="0" width="100%" height="55"
		style="border-bottom:1px solid #e8e8e8;width:100%!important">
		<tbody>
			<tr>
				<td align="center" bgcolor="#FFFFFF" width="100%">
					<table id="m_-1204851847043800377logo" cellpadding="8" cellspacing="0" width="100%" height="55"
						align="center">
						<tbody>
							<tr>
								<td align="center">
									<img src="https://ci3.googleusercontent.com/proxy/7JelYb6rQbC04vUxMhf9iobtORPH4NRa9XtGx7RhD5AKPMlJ7RV3kenN_8YaPOjANZMWJTnhlBToFVJoSrC6xkuIbBBbe6S13w=s0-d-e1-ft#https://www.photokinesiologas.com/sl/gfx/logo_pkpe.png"
										height="36" alt="Photokines" style="display:block" class="CToWUd">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="m_-1204851847043800377newsletter" width="100%" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<table id="m_-1204851847043800377paddings-table" class="m_-1204851847043800377newsletter"
						cellpadding="20" cellspacing="0" width="680" align="center">
						<tbody>
							<tr>
								<td>
									<table id="m_-1204851847043800377advertencia_newsletter" cellpadding="0"
										cellspacing="0" align="center">
										<tbody>
											<tr>
												<td>
													<p>Mensaje personalizado para <a href="mailto:{email}" target="_blank">{email}</a>.</p>
													<p>Si no lo puedes ver correctamente <a href="{url_escogerpassword}">haz click aquí</a>.</p>
												</td>
											</tr>
										</tbody>
									</table>
									<table cellspacing="0" cellpadding="0" height="20">
										<tbody>
											<tr>
												<td height="20"></td>
											</tr>
										</tbody>
									</table>

									<table id="m_-1204851847043800377foto-portada" cellpadding="0" cellspacing="0"
										height="100%" width="640" border="0" bgcolor="#FFFFFF"
										style="padding:15px;background-color:#ffffff">
										<tbody>
											<tr>
												<td width="610" valign="top">
													<p><span class="m_-1204851847043800377titulo"
															style="font-size:25px!important;font-weight:normal;color:#ca1e25;display:block;margin-bottom:19px">Restablecer
															contraseña Panel de Control</span>Hola,<br>
														<br>
														Te enviamos este email porque alguien ha solicitado restablecer
														la contraseña de acceso a tu panel de control en Photokines.<br>
														<br>
														Si no has sido tú, puedes ignorar este mensaje, tu contraseña no
														ha cambiado.<br>
														<br>
														Si has sido tú, haz click en el siguiente botón para establecer
														una nueva contraseña:<br><br> 
														<a href="{url_escogerpassword}" alt="Escoger contraseña" style="border: 0;border-radius: 3px;display: inline-block;color: white;background-color: #CA1E25;cursor: pointer;appearance: none;-webkit-appearance: none;text-decoration: none;padding: 5px;" class="CToWUd">Escoger contraseña</a><br>
														<br>												   
														<br>
														Si tienes cualquier duda, puedes contactar con nosotros
														respondiendo este mismo email.<br>
														<br>
														Saludos.</p>
												</td>
											</tr>
										</tbody>
									</table>



								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<img src="https://ci3.googleusercontent.com/proxy/IXjFeBlq1bPWl9-0opnVsi3zTTgR2u1WKkvX_Yw5Vuoi2GcAD9SXuopttlGL5GL8k_iImCE72bHeHZB6XYZiYOInh6n1gz0eN-Mlr5280aYiP9PGDmbLOspTavvFg4TuYe23mP2SKsbBh-79W54ZUPW7vxi7B-vsmxYG4Y6gxhj6YJgyFCn4gpUoqfKEHbeFYDWgoHgk7gozP0nVSnJfRPsHKd1un6yG1gL7-yVVjzlzRfFoxEbUtX49DrZZA_wk3YcG_d8Imui4BjPYZpJTEz79-r1_w0r4oEIwi-SXXADdgEc2unUCJhGvAvkQ2cVwXHOu2xgWzyKczHJZBz-CTo69l4WIEaM0eBLrtuI8nDa3APOQ9mJ9OX4VFAza8hgpINGXwkBntkax-S2Z1I4uakugUDYXjw=s0-d-e1-ft#https://ea.pstmrk.it/open/djJfMjAxOTA5MDhfMTcxMjczXzQ4MTg4MDJfcGhvdG9raW5lc183NTcwZmI2NS1hOGFlLTRmZjUtYjZhZS1iNDhmYmZlZWI5ZDhfY2Nhcmh1YXMubWlrZUBnbWFpbC5jb21fIlBob3Rva2luZXMiIDxpbmZvQHBob3Rva2luZXNpb2xvZ2FzLmNvbT5fUmVzdGFibGVjZXIgY29udHJhc2XDsWEgUGFuZWwgZGUgQ29udHJvbCBbSURNOiAyMTIzNDA4XQ=="
		width="1" height="1" border="0" alt="" class="CToWUd">
</div>