<div bgcolor="#F4F4F4" style="background-color:#f4f4f4;    font-family: Arial;">
   <div class="adM">
   </div>
   <table id="m_-483743122333227565header" cellpadding="0" cellspacing="0" width="100%" height="55" style="border-bottom:1px solid #e8e8e8;width:100%!important">
      <tbody>
         <tr>
            <td align="center" bgcolor="#FFFFFF" width="100%">
               <table id="m_-483743122333227565logo" cellpadding="8" cellspacing="0" width="100%" height="55" align="center">
                  <tbody>
                     <tr>
                        <td align="center">
                           <img src="https://ci3.googleusercontent.com/proxy/7JelYb6rQbC04vUxMhf9iobtORPH4NRa9XtGx7RhD5AKPMlJ7RV3kenN_8YaPOjANZMWJTnhlBToFVJoSrC6xkuIbBBbe6S13w=s0-d-e1-ft#https://www.photokinesiologas.com/sl/gfx/logo_pkpe.png" height="36" alt="Photokines" style="display:block" class="CToWUd">
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <table class="m_-483743122333227565newsletter" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
         <tr>
            <td>
               <table id="m_-483743122333227565paddings-table" class="m_-483743122333227565newsletter" cellpadding="20" cellspacing="0" width="680" align="center">
                  <tbody>
                     <tr>
                        <td>
                           <table id="m_-483743122333227565advertencia_newsletter" cellpadding="0" cellspacing="0" align="center">
                              <tbody>
                                 <tr>
                                    <td>
                                       <p>Mensaje personalizado para <a href="mailto:estraga.gonzales@gmail.com" target="_blank">estraga.gonzales@gmail.com</a>.</p>
                                       <p>Si no lo puedes ver correctamente <a href="https://click.pstmrk.it/2sm/www.photokinesiologas.com%2Femail%2F33f46407cbdd3b386ec552e022e3d301ffaa153e_2037210/e2ABRgQ/codJ/PhV2UpfA_O/cGhvdG9raW5lcw" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/www.photokinesiologas.com%252Femail%252F33f46407cbdd3b386ec552e022e3d301ffaa153e_2037210/e2ABRgQ/codJ/PhV2UpfA_O/cGhvdG9raW5lcw&amp;source=gmail&amp;ust=1564534227477000&amp;usg=AFQjCNHlvaUhz1MepzkQTFFUuM4YdwQP0Q">haz click aquí</a>.</p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <table cellspacing="0" cellpadding="0" height="20">
                              <tbody>
                                 <tr>
                                    <td height="20"></td>
                                 </tr>
                              </tbody>
                           </table>
                           <table id="m_-483743122333227565foto-portada" cellpadding="0" cellspacing="0" height="100%" width="640" border="0" bgcolor="#FFFFFF" style="padding:15px;background-color:#ffffff">
                              <tbody>
                                 <tr>
                                    <td width="610" valign="top">
                                       <p><span class="m_-483743122333227565titulo" style="font-size:25px!important;font-weight:normal;color:#ca1e25;display:block;margin-bottom:19px">Acceso Panel de control</span>Hola,<br>
                                          <br>
                                          Te enviamos este email porque has solicitado obtener acceso a tu panel de control en Photokines.<br>
                                          <br>
                                          Si no has sido tú, puedes ignorar este mensaje, tu contraseña no ha cambiado.<br>
                                          <br>
                                          Si has sido tú, haz click en el siguiente botón para establecer una nueva contraseña:<br>
                                          <a href="https://click.pstmrk.it/2sm/www.photokinesiologas.com%2Fcontrol%2Fescoger-password%2Fad849bed5431a6252674e23adf82fae210792e5c/fGABRgQ/codJ/3DzxJRBBRV/cGhvdG9raW5lcw" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.pstmrk.it/2sm/www.photokinesiologas.com%252Fcontrol%252Fescoger-password%252Fad849bed5431a6252674e23adf82fae210792e5c/fGABRgQ/codJ/3DzxJRBBRV/cGhvdG9raW5lcw&amp;source=gmail&amp;ust=1564534227477000&amp;usg=AFQjCNEinHULXWxLNLItCcG3Aeq8caBO1w"><img src="https://ci6.googleusercontent.com/proxy/IqO-lOCVF87iVNqRjzUL_DRugVnmqdOY3EDztenKVxpNGCofDEg0gKv94IXuSlQUXp7a2tHg3yN4wW4M1LRJBu4YqQevlEB9drvv2uo5QVoaIw204J-V=s0-d-e1-ft#https://www.photokinesiologas.com/sl/gfx/btn-escoger_password_es.png" height="27" width="152" border="0" alt="Escoger contraseña" style="display:block" class="CToWUd"></a><br>
                                          <br>
                                          Si tienes cualquier duda, puedes contactar con nosotros respondiendo este mismo email.<br>
                                          <br>
                                          Saludos.
                                       </p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <img src="https://ci3.googleusercontent.com/proxy/so6QSh09-Iy4Oilv6fNQUubS8f08yJOlgMnQSWB0_ytMXo4GJdMasKlICQ9LIg9vGGUEywfiEzpuntb0SkitPY840e7oqNoiotdgZrt08IomtoQriDXB8Hc4oC0hvrdSUoxhwlFVIK2ncB7gPCJNdp10P-gP2qQSacDJyJj5K9E4MWhd4Q39OMxHj0hufoWWz1D0n5a79IA5M6imU4x-QYt3PFxKAfx_rbRMMaIUUIAQK5cV09JFA8gKlPueVxXlalHOcjjUbcz6mSfy1lcAACChmDv-JDpjJGCxoDjUJnXP-SkolgBGc9R_6PvO70SIfqddWfNiJ2QapJSiucoroCcZyJbV_q9UwD5DkgJ9RHB7mk1jlxL9_OhTv2nD_zS1uwdBkv7E-nVe5DFVWJM9u0A=s0-d-e1-ft#http://ea.pstmrk.it/open/djJfMjAxOTA3MjlfMTcxMjczXzQ4MTg4MDJfcGhvdG9raW5lc182ZTJmMjYwZC02ZDA1LTQ3NjYtOWY2ZS03ZTJmM2U2ZjVlOWFfZXN0cmFnYS5nb256YWxlc0BnbWFpbC5jb21fIlBob3Rva2luZXMiIDxpbmZvQHBob3Rva2luZXNpb2xvZ2FzLmNvbT5fRXNjb2dlciBjb250cmFzZcOxYSBQYW5lbCBkZSBDb250cm9sIFtJRE06IDIwMzcyMTBd" width="1" height="1" border="0" alt="" class="CToWUd">
</div>