@charset "utf-8";
/* CSS Document */

/* =============================== */
/* ========= CSS RESET =========== */
/* =============================== */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th {
	text-align:left;
}
fieldset, img {
	border:0;
}
a {
	outline:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal;
	margin:0px;
	padding:0px;
}
ol, ul {
	list-style:none;
}
address, caption, cite, code, dfn, th, var {
	font-style:normal;
	font-weight:normal;
}
/*
q:before,q:after {content:'';}
abbr,acronym {border:0;}
*/

/* =============================== */
/* ======= Elementos HTML ======== */
/* =============================== */
body {
	color:#b8b8b8;
	margin:0;
	padding:0;
	font-size:0.8em;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background:url(../img/fons.jpg);
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#principal {
	position:relative;
	width:960px;
	margin:0 auto;
}
#headerPan {
	padding:10px;
}
/*menu*/

#menuLeft {
	position:relative;
	float:left;
	width:180px;
	margin:10px 10px 20px 0;
	height:190px;
	background:url(../img/fons-menu.gif) no-repeat;
	padding:30px 5px 10px 15px;
}
#menuLeft li {
	margin-bottom:10px;
	font-weight:bold;
}
#menuLeft li a {
	background:url(../img/estrella-gris.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
	color:#d4d4d4;
}
#menuLeft li a:hover, #menuLeft li a.marcat {
	color:#f39;
	background:url(../img/estrella-rosa.gif) no-repeat;
}
/*contenidos*/
#contenidoRight {
	float:left;
	position:relative;
	width:740px;
	margin:10px 0 20px 0;
	padding-bottom:20px;
}
#mig {
	position:relative;
	background:url(../img/mig-content.gif);
	background-repeat:repeat-y;
	width:710px;
	margin-top:-5px;
	padding:20px;
}
#mig h2 {
	font-size:2em;
	padding-bottom:20px;
}
#mig h3 {
	font-weight:bold;
	color:#f39;
	font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
}
#mig h4 {
	font-weight:bold;
	padding:40px 0 5px 0;
	border-bottom:1px solid #333333;
	margin-bottom:20px!important;
}
/*Anuncis*/
.listaAnuncio {
	position:reltive;
	border:none;
	background:none;
	margin-bottom:25px;
	padding-bottom:15px;
	clear:both;
	border-bottom:2px solid #242424;
	min-height:10px;
}
.listaAnuncio a {
	color:#f39;
	text-decoration:underline;
}
.listaAnuncio a:hover {
	text-decoration:none;
}
.listaAnuncio img {
	margin-bottom:5px;
	float:left;
	width:220px;
	margin-right:15px;
	border:5px solid #242424;
}
.listaAnuncio ul {
	position:relative;
	margin-top:35px;
	float:left;
	width:460px;
}
.listaAnuncio ul li {
	width:210px;
	float:left;
	background:#2a2a2a;
	padding:3px 0 3px 5px;
	margin-right:15px;
	margin-top:2px;
}
.listaAnuncio ul li a {
	color:#999;
	text-decoration:none;
	background:url(images/estrella-gris-submenu.gif) no-repeat left;
	padding-left:15px;
}
.listaAnuncio ul li a:hover {
	color:#f39;
	background:url(images/estrella-rosa-submenu.gif) no-repeat left;
}
.fotoNormal {
	psoition:relative;
	min-height:300px;
	margin-bottom:30px;
}
.fotoNormal img {
	margin:5px;
	margin-right:15px;
	border:5px solid #343434;
	float:left!important;
}
.fotoNormal p {
	position:relative;
	margin:10px 0;
	float:none!important;
}
.fotoNormal input {
	color:#999;
	border:0;
	text-decoration:none;
	background:url(images/back-boto.gif) no-repeat left;
	padding:2px 8px 2px 15px;
}
/*FORMULARI*/

form .boto {
	padding:1px 5px;
	border:none;
	background:#f39;
	color:#000;
	font-weight:bold;
	width:auto;
}
.formNormal {
	position:relative;
	font-size:0.95em;
}
.formNormal fieldset {
	padding:30px 0;
}
.formNormal span {
	font-size:0.95em;
	text-align:right;
	font-weight:bold;
	vertical-align:top;
	line-height:24px;
	width:240px;
	padding-right:2px;
	display:table-cell;
*float:left;
*clear:left;
*margin-right:4px;
}
.formNormal textarea, .formNormal input, .formNormal select, .formTaula textarea, .formTaula input, .formTaula select {
	vertical-align:top;
	font-size:0.95em;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #fff;
	padding:1px 2px;
	width:200px;
    color:black;
}
.formNormal .boto, .formTaula .boto {
	position:relative;
	padding:1px 5px;
	border:none;
	background:#f39;
	color:#000;
	font-weight:bold;
	margin-left:246px;
	margin-top:7px;
	width:auto;
}
.formTaula {
	position:relative;
	font-size:0.95em;
}
.formTaula tr {
	height:2.2em;
	vertical-align:top;
}
.formTaula tr td {
	padding-right:4px;
}
.formTaula .formText {
	text-align:right;
	width:190px!important;
	vertical-align:top!important;
	line-height:1.8em;
}
.formTaula .boto {
	margin-left:195px;
}
.formTaula .checks {
	padding-top:4px;
}
.formTaula .checks label {
	line-height:1.7em;
}
.formTaula .checks input {
	width:auto;
	border:none;
	margin-right:4px!important;
}
.bototopRosa {
	background:#f39;
	color:#000;
	padding:1px 5px;
	font-weight:bold;
	width:auto!important;
	margin:10px 0!important;
	clear:both;
	border:none!important;
}
.botoDreta {
	float:right!important;
}
.taulaDoble {
}
.taulaHorario {
}
.taulaDoble tr td {
	width:100px!important;
}
.taulaDoble tr td.titulines, .taulaHorario tr td.titulines {
	width:100px!important;
	color:#CCCCCC;
	padding:5px 0 0 5px;
	text-transform:uppercase;
	font-size:0.85em;
	color:#FF3399;
}
.taulaDoble tr td input {
	width:110px;
}
.taulaHorario tr td {
	width:40%!important;
}
.taulaHorario tr td input {
	width:50px;
}
.taulaHorario tr td.textHorario {
	width:30px;
}
.taulaHorario tr td select {
	width:50px;
	text-align:left;
}
/*alta*/
.idPasos {
	position:relative;
}
.idPasos li {
	background:url(../img/fons-pasos.gif);
	width:114px;
	height:51px;
	float:left;
	margin:10px 8px 30px 0;
	padding:7px 10px;
	color:#999;
}
.idPasos li strong {
	color:#fff;
}
.idPasos li.marcar {
	filter: alpha(opacity=70);
	opacity:.7;
	color:#fff;
}
.idPasos li.marcar strong {
	color:#f39;
}
.aclaraciones {
	background:url(../img/aclara.gif) no-repeat left top;
	color:#535353;
	padding-left:15px;
	vertical-align:top;
}
a.volverCorregir {
	color:#999;
	background-color:#343434;
	padding:2px 5px;
	clear:both!important;
}
a.volverCorregir:hover {
	color:#fff;
}
.listaFotos {
	position:relative!important;
	margin:10px 5px;
	border-bottom:1px solid #333;
	float:left;
	height:420px;
}
.listaFotos img {
	position:relative;
	border:5px solid #242424;
}
.listaFotos p {
	position:relative;
	height:15px;
	margin:5px 0 30px 0;
	float:none!important;
}
.listaFotos p a {
	position:relative;
	background-color:#2a2a2a;
	background-image:url(images/estrella-gris-submenu.gif);
	top:15px!important;
	background-position:left;
	background-repeat:no-repeat;
	padding:2px 10px 2px 20px;
	color:#999;
}
.listaFotos p a:hover {
	color:#f39;
}
.listaFotos .boto {
	float:none!important;
}
.listaFotos span {
	clear:right!important;
	float:none!important;
	line-height:25px!important;
}
.listaFotos input {
	border:none;
}
.alturamin {
	height:5px;
	background:#00FF00;
	width:5px;
}
.listaCorta {
	height:350px;
}
.textNormal {
	position:relative;
	background:none!important;
	padding:0!important;
	margin:0!important;
	float:none!important;
}
.textNormal p {
	margin:10px 0;
}
.textNormal a {
	color:#fff;
	text-decoration:underline;
}
.textNormal a:hover {
	color:#f39;
}
.textNormal .rosa {
	color:#f39;
	font-weight:bold;
}
.usuarioFoto {
	margin:20px 0;
	color:#f39;
}
.usuarioFoto strong {
}
.usuarioFoto embed {
	margin-top:10px;
}
.listado {
	margin:15px 0 15px 20px;
}
.listado li {
	list-style-image:url(images/estrella-gris-submenu.gif);
	margin:5px 0;
}
.listadoCheckeo {
	margin:15px 0 25px 30px;
}
.listadoCheckeo li {
	list-style:none;
	background:url(images/llista-check.gif);
	background-repeat:no-repeat;
	background-position:left;
	margin:5px 0;
	padding-left:25px;
}
#principalLogin {
	position:relative;
	width:700px;
	margin:0 auto;
	padding:0;
	padding-top:70px; /*background:url(images/fons-login.gif) no-repeat bottom;*/
}
#principalLogin h2 {/*font-weight:bold;*/
	font-size:1.5em;
	margin-bottom:5px;
}
#principalLogin img {
	text-align:center;
	margin-bottom:20px;
	position:relative;
}
/*#yaSoy {clear:both!important;}
#yaSoy, #nuevoCliente  {width:284px; height:290px; float:left; margin:10px 10px; padding:20px; background-image:url(images/fons-login2.gif); background-repeat:no-repeat;}
#principalLogin div form.formTaula {padding-top:15px;}
#principalLogin div form.formTaula .formText {width:70px!important; color:#fff; padding-right:4px;}
#principalLogin div form.formTaula input {width:150px;}
#principalLogin div form.formTaula .boto {margin:0!important; width:auto;}
#principalLogin div a {color:#777; text-decoration:underline;} #principalLogin div a:hover {color:#f39; text-decoration:none;}

form.formTaula .formNac select {width:auto!important; float:left!important; display:inline!important; margin-right:1px;}

.desaparece {display:none;}
.letraPequena {font-size:0.85em; position:relative; width:660px; margin:0 auto; padding:10px 20px; text-align:justify; clear:both;}
.letraPequena h3 {color:#f39; font-weight:bold;}
.letraPequena a {color:#dfdfdf; text-decoration:underline;} .letraPequena a:hover {color:#f39; text-decoration:none;}
.letraPequena p {margin:5px 0;}
.captchaText {height:10px; padding:5px 0 0 0; font-size:0.95em; overflow:hidden; color:#fff;}
.formText em, #PassLayer em {color:#f39; font-weight:bold; font-style:normal!important;}*/

/*estadisticas*/
.taulaEstadis, .taulaEstadis2 {
	position:relative;
	margin:0 auto;
	width:100%;
}
.taulaEstadis tr td, .taulaEstadis2 tr td {
	padding:10px 5px;
	color:#fff;
	background:#2c2c2c;
	border-bottom:#1d1d1d solid 1px;
}
.taulaEstadis .top td, .taulaEstadis2 .top td {
	background:#3f3f3f;
	font-weight:bold;
	color:#b1b1b1;
}
.taulaEstadis tr td input, .taulaEstadis2 tr td input {
	width:auto;
	border:none;
}
.taulaEstadis tr td.taulaCheck, .taulaEstadis2 tr td.taulaCheck {
	width:20px;
}
.taulaEstadis tr td span, .taulaEstadis2 tr td span {
	font-weight:bold;
	width:auto;
	color:#f39;
	font-size:1.1em;
	display:inline;
}
.taulaEstadis tr td em, .taulaEstadis2 tr td em {
	font-weight:bold;
	width:auto;
	color:#fff;
	font-size:1.15em;
	font-style:normal;
	display:inline;
}
.taulaEstadis tr td p, .taulaEstadis2 tr td p {
	color:#c4c4c4;
	margin-top:-3px;
	clear:both;
}
.taulaEstadis2 tr td {
	padding:7px 5px;
	text-align:center;
}
.taulaEstadis2 tr td.imp {
	text-align:left;
}
/*=alex*/
.destacar {
	color:#F00;
}
;
/*NUEVO INICIO CLIENTES*/

#nuevoCliente {
	width:680px;
*width:700px;
	margin:10px; /*background-image:url(images/fons-login2.gif); background-repeat:no-repeat;*/
}
#yaSoy {
	width:267px;
	position:absolute;
	padding:10px 20px;
	top:0;
	right:20px;
	background-image:url(images/fons-acceso-cliente.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	z-index:10!important;
}
.contenCliente {
	position:relative;
	margin:0 20px 0 0;
	overflow:hidden;
	padding-top:5px;
}
.contenCliente div.fons {
	background:#3f3f3f!important;
	margin:-20px 0 0 0!important;
*margin-top:-23px!important;
	padding:10px 30px;
	color:#fff;
}
.contenCliente div.fons img.tarifas {
	margin-left:-25px;
}
.contenCliente h3 {
	font-size:2em;
	color:#fff;
	margin-bottom:15px;
}
.contenCliente h4 {
	font-size:1.9em;
	color:#f39;
}
.contenCliente ul {
	margin:10px 0 30px 20px;
}
.contenCliente ul li {
	list-style:url(images/llista-check2.gif);
	list-style-position:inside;
	line-height:2em;
	color:#FFFFFF;
	font-weight:bold;
}
.contenCliente ul li a {
	color:#fff;
	text-decoration:underline;
}
.botoAlta {
	position:relative;
	float:left;
	margin:0 10px 0 0;
}
#principalLogin div form.formTaula .formText {
	width:70px!important;
	color:#fff;
	padding-right:4px;
}
#principalLogin div form.formTaula input {
	width:150px;
}
#principalLogin div form.formTaula .boto {
	margin:0!important;
	width:auto;
}
#principalLogin div a {
	color:#777;
	text-decoration:underline;
}
#principalLogin div a:hover {
	color:#f39;
	text-decoration:none;
}
form.formTaula .formNac select {
    width: auto !important;
    float: left !important;
    display: inline !important;
    margin-right: 1px;
    color: black;
}
#dateAlta {
	clear:both!important;
	margin:20px 0 0 0;
}
#dateAlta h2 {
	color:#848484;
	font-size:1.8em;
}
#dateAlta p {
	margin:5px 0 10px 0;
}
#dateAlta form {
	margin:25px 0 0 100px;
}
#crear_cuenta h4 {
	font-size:1.7em;
	margin-bottom:14px;
	float:left;
	line-height:1.1em;
}
#crear_cuenta ul {
	color:#f39;
}
#crear_cuenta ul li {
	margin:0;
	padding:0;
	line-height:normal;
	margin-bottom:14px;
	background:none;
	list-style:disc;
	color:#f39;
	list-style-position:outside;
}
#crear_cuenta p {
	text-align:right;
	font-size:1.3em;
	color:#f39;
	font-weight:normal;
	margin-top:-20px;
}
#crear_cuenta ul li p {
	color:#FFF;
	text-align:left;
	font-size:1em;
	font-weight:bold;
	margin:0;
	line-height:1.3em;
}
#crear_cuenta p a {
	color:#f39;
	text-decoration:none;
}
.desaparece {
	display:none;
}
.letraPequena {
	font-size:0.85em;
	position:relative;
	width:660px;
	margin:0 auto;
	padding:10px 20px;
	text-align:justify;
	clear:both;
}
.letraPequena h3 {
	color:#f39;
	font-weight:bold;
}
.letraPequena a {
	color:#dfdfdf;
	text-decoration:underline;
}
.letraPequena a:hover {
	color:#f39;
	text-decoration:none;
}
.letraPequena p {
	margin:5px 0;
}
.captchaText {
	height:10px;
	padding:5px 0 0 0;
	font-size:0.95em;
	overflow:hidden;
	color:#fff!important;
}
.formText em, #PassLayer em {
	color:#f39;
	font-weight:bold;
	font-style:normal!important;
}
.colorVermell {
	color:#f83939!important;
}
.missatgesValida {
	min-height:55px;
	position:relative;
	float:none!important;
	clear:both!important;
	font-size:14px;
	font-weight:bold;
}
.missatgesValida img {
	float:left;
	margin-right:10px;
}
/*pagos*/
#form1 h4 {
	font-weight:normal;
	color:#FF3399;
	font-size:1.2em;
	background: url(../img/aclara.gif) no-repeat 0 0;
	padding-left:15px;
	margin:0;
	margin-bottom:10px!important;
	padding:0px 0 6px 15px;
}
#form1 table {
	margin-bottom:25px;
}
#form1 table tr td {
	color:#fff;
}
#form1 table tr.bg td {
	background-color:#353535;
	color:#fff;
}
#form1 table tr.top {
	border-bottom:1px solid #222;
	border-left:none;
}
#form1 table tr.top td {
	border-left:1px solid #222;
	text-align:center;
	border-bottom:none;
}
#form1 table tr.top td.no_bg {
	background:none;
	border:none;
}
#form1 table.taulaEstadis .top td, #form1 table .taulaEstadis2 .top td {
	font-weight:normal;
	color:#bbb;
}
#form1 table tr td h5 {
	font-size:1.3em;
	margin:0;
	display:inline;
	line-height:1.6em;
	color:#FFF;
}
#form1 table tr td span {
	color:#ca1111;
	margin:0;
	padding:0;
	font-weight:normal;
	padding:0;
	vertical-align: inherit;
	margin-top:-1px;
	margin-left:5px;
	line-height:1em;
}
#form1 table tr td span.bronce {
	color:#9c530c;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.plata {
	color:#888;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.oro {
	color:#c09c30;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.platino {
	color:#EDEDEF;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}

#form1 table tr td span.zonaa {
	color:#8d0339;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.zonab {
	color:#209700;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.zonac{
	color:#c36717;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 table tr td span.zonad {
	color:#5e8efb;
	font-size:1.5em;
	vertical-align:top;
	letter-spacing:-.5px;
	line-height:normal;
}
#form1 #j_paso5_submit {
	float:left!important;
	padding:8px;
	font-size:1.1em;
	margin-top:-15px!important;
	cursor:pointer;
}
.pagos table tr td {
	line-height:1.6em;
}
table tr td#j_promocion span {
	vertical-align:top;
}
a.bt_pagar {
	background: url(images/b-pagar-anuncio.gif) no-repeat 0 0;
	width:111px;
	height:31px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	float:right;
	margin-right:100px;
	margin-top:-15px;
}

.textNormal ul li.tipo h5 { display:inline; font-weight:bold;}



.textNormal ul li span.bronce {
	color:#9c530c;
	font-size:1.1em;
	vertical-align:inherit;
	letter-spacing:-.5px;
	line-height:normal;font-weight:bold; margin-left:3px;
}
.textNormal ul li span.plata {
	color:#888;
	font-size:1.1em;
	vertical-align:inherit;
	letter-spacing:-.5px;
	line-height:normal;font-weight:bold;margin-left:3px;
}
.textNormal ul li span.oro {
	color:#c09c30;
	font-size:1.1em;
	vertical-align:inherit;
	letter-spacing:-.5px;
	line-height:normal;font-weight:bold;margin-left:3px;
}
