
@{
    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~"));
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}





<div class="col-xs-12">
    <div class="row" >
        <div class="carousel" id="id_carusel">
            @*<div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/1.jpg" alt="orange tree" />
            </div>
            <div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/2.jpg" alt="submerged" />
            </div>
            <div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/3.jpg" alt="look-out" />
            </div>
            <div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/4.jpg" alt="One World Trade" />
            </div>
            <div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/4.jpg" alt="drizzle" />
            </div>
            <div class="carousel-cell">
                <img src="http://localhost:2911/uploads_fichas/1138/2.jpg" alt="cat nose" />
            </div>*@
        </div>
    </div>

    @*<div class="row" id="container-fotos-seccion-1">
            <div class="col-sm-6 mg30">
                <img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES #1" class="img-responsive full-img">
            </div>
            <div class="col-sm-6 mg30">
                <img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES #2" class="img-responsive full-img">
            </div>
        </div>*@
    <div class="blq-dtll row mg30" itemscope="" itemtype="https://schema.org/Person">
        <div class="col-sm-6">
            <ul class="list-inline">
                <li>
                    <!--h3 class="title rosa name">GRUPO DE AMIGAS SENSUALES</h3>-->
                    <h3 class="title rosa name">XXXXXXXXXXXXXXXXXXXXXX</h3>
                </li>
            </ul>
            <ul class="list-inline agencia">
                <li>
                    <a href="/escorts-madrid/" title="Escorts en  Madrid">
                        Escorts en  <strong>
                            Madrid
                        </strong>
                    </a>
                </li>
                <li>Agencia: <strong><a href="/mansion-del-placer-agencia-escorts-madrid-50/" title="Mansion del Placer">Mansion del Placer</a></strong></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="ficha-info">
                <div class="medio-cont">
                    <div class="telef-show bg-rosa clearfix">
                        <ul class="list-inline list-unstyled clearfix">
                            <li>
                                <h3 class="telef j_txt_telefono">653 08 XXX</h3>
                            </li>
                            <li>
                                <span class="j_contenedor_btn_vertelefono">
                                    <a href="javascript:void(0);" class="btn-blanco j_btn_vertelefono" title="VER TELEFONO" rel="nofollow">
                                        <strong>VER TELEFONO</strong>
                                    </a>
                                </span>
                                <a href="javascript:void(0);" class="btn-gris j_vermensajes hidden-xs" title="VER TELEFONO" rel="nofollow" style="display:none">
                                    <strong>Llamame ahora ;)</strong>
                                </a>
                            </li>
                        </ul>
                        <span class="bg-blanco j_vermensajes text-center hidden-xs" style="display:none">Dile que la has visto en <strong>HOTT</strong></span>
                    </div>
                </div>
                <ul class="ficha-info__list">
                    <li><a href="http://www.mansiondelplacer.es/" class="rosa no-deco" title="escort web" target="_blank" rel="nofollow" id="j_goto_web"><strong>IR A SU WEB</strong></a></li>
                    <li class="ficha-info__listItem--mensaje"><a href="#" class="text-uppercase" data-toggle="modal" data-target="#j_bloque_modal_contactar_ficha">Enviar mensaje</a></li>
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-special" id="j_bloque_modal_contactar_ficha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-special__content">
                    <div class="js-shownMessage" id="j_bloque_modal_contactar_ficha_formulario">
                        <div class="modal-header modal-special__header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title modal-special__title">Enviar mensaje</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/procesos/modal-contactar-ficha.php" method="post" role="form" class="form-special" name="frm_contactar_ficha" id="frm_contactar_ficha">
                                <div class="form-group">
                                    <label for="contactar_ficha_nombre" class="sr-only">nombre</label>
                                    <input type="text" class="form-control" id="contactar_ficha_nombre" name="contactar_ficha_nombre" placeholder="Tu nombre">
                                </div>
                                <div class="form-group">
                                    <label for="contactar_ficha_email" class="sr-only">email</label>
                                    <input type="email" class="form-control" id="contactar_ficha_email" name="contactar_ficha_email" placeholder="Tu email">
                                </div>
                                <div class="form-group">
                                    <label for="contactar_ficha_mensaje" class="sr-only">Mensaje</label>
                                    <textarea id="contactar_ficha_mensaje" name="contactar_ficha_mensaje" class="form-control" rows="3" placeholder="Hola te he visto en Hott"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="captcha clearfix">
                                        <label for="registro_captcha" class="alta-captcha text-uppercase form-special__captchaLabel">RPAV</label>
                                        <input type="text" name="contactar_ficha_captcha" id="contactar_ficha_captcha" class="captcha-box form-control form-special__captchaInput" maxlength="4" placeholder="Código SPAM">
                                        <input type="hidden" name="contactar_ficha_captcha_control" id="contactar_ficha_captcha_control" value="589d0725641d7d47c3c69b176cfe32c534eb6a37">
                                        <input type="hidden" name="contactar_ficha_captcha_control_js" id="contactar_ficha_captcha_control_js" value="fba662ec124a5d86d45d64be264fa543539a0f29">
                                        <input type="hidden" name="contactar_ficha_identificador" id="contactar_ficha_identificador" value="7f25e70c2e6d91d4c4a908f9ea301f9a6827f45a">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="acepto clearfix mg20">
                                        <div class="form-special__checkbox checkbox">
                                            <input type="checkbox" id="contactar_ficha_acepto" value="1" name="contactar_ficha_acepto">
                                            <label for="contactar_ficha_acepto">
                                                Al pulsar Enivo acepto y entiendo los <a href="#">textos legales</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" name="contactar_ficha_enviar" id="contactar_ficha_enviar" class="btn btn-primary btn-block btn-main js-showMessage" value="Enviar Mensaje">
                            </form>
                        </div>
                    </div>
                    <!-- TODO este es el  mensaje ahi que quitar el hidden -->
                    <div class="js-hiddenMessage hidden" id="j_bloque_modal_contactar_ficha_gracias">
                        <div class="modal-header modal-special__header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title modal-special__title">Mensaje Enviado</h4>
                        </div>
                        <div class="modal-body">
                            Muchas gracias por usar los servicios de HottEscorts.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- bloque que queda fijo con el telefono -->
    <div class="blq-dtll telefono-top" style="z-index: auto; position: static; top: auto;">
        <ul class="list-inline medio-cont">
            <li>
                <div class="telef-show bg-rosa clearfix">
                    <ul class="list-inline list-unstyled clearfix">
                        <li>
                            <h3 class="telef j_txt_telefono">653 08 XXX</h3>
                        </li>
                        <li>
                            <span class="j_contenedor_btn_vertelefono">
                                <a href="javascript:void(0);" class="btn-blanco j_btn_vertelefono" title="VER TELEFONO" rel="nofollow">
                                    <strong>VER TELEFONO</strong>
                                </a>
                            </span>
                            <a href="javascript:void(0);" class="btn-gris j_vermensajes hidden-xs" title="VER TELEFONO" rel="nofollow" style="display:none">
                                <strong>Llamame ahora ;)</strong>
                            </a>
                        </li>
                    </ul>
                    <span class="bg-blanco j_vermensajes text-center hidden-xs" style="display:none">Dile que la has visto en <strong>HOTT</strong></span>
                </div>
            </li>
        </ul>
    </div>
    <div style="display: none; width: 1140px; height: 0px; float: none;"></div>
    <!-- fin modificado el 20151027 para fijar el telefono -->
    <!--<h2 class="text-center rosa">¡Hott Escorts: Tu guía de putas de lujo!</h2>-->
    <h2 class="text-center rosa">¡XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX!</h2>
    <div class="entradilla">
        <!--El placer es necesario, y nosotras somos las mejores brindándolo. Somos un grupo de amiguitas entre españolas y latinas muy sexys, y buscamos cumplir los deseos más profundos de todos los chicos guapos de Madrid. Ofrecemos el mejor sexo, con fiestitas, orgías, acción lésbica, piscina, jacuzzi y demás cositas cari. Esperamos que te gusten nuestras fotitos de verano, ahora que sube la temperatura, nuestra tanguita se baja más rápido. Ofrecemos salidas 24hs. Te lo vas a perder? Te esperamos guapo. 653087849-->
        <p id="container-presentacion"></p>
    </div>
    <div class="row blq-info mg30">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-brd-slim equal mg20" style="height: 517px;">
                <h3 class="title rosa">INFORMACION Y DATOS</h3>
                <ul class="list-unstyled" id="container-informacion">
                    @*<li class="clearfix">
                            <span class="pull-left">Edad</span><span class="pull-right"><strong>20 Años</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Pais</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Estudio</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Color Ojos</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Color Cabello</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Estatura</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>
                        <li class="clearfix">
                            <span class="pull-left">Medidas (Busto-Cintura-Caderas)</span>
                            <span class="pull-right"><strong>Español</strong></span>
                        </li>*@
                </ul>
                <p></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-brd-slim equal mg20" style="height: 517px;">
                <h3 class="title rosa">SERVICIOS</h3>
                <ul class="tag-link list-unstyled list-inline" id="container-servicios">
                    @*<li><a href="/escorts-madrid:trato-de-novia/" title="Trato de Novia Madrid" target="_blank">Trato de Novia</a></li>
                        <li><a href="/escorts-madrid:transformismo/" title="Transformismo Madrid" target="_blank">Transformismo</a></li>
                        <li><a href="/escorts-madrid:striptease/" title="Striptease Madrid" target="_blank">Striptease</a></li>
                        <li><a href="/escorts-madrid:sado-light/" title="Sado Light Madrid" target="_blank">Sado Light</a></li>
                        <li><a href="/escorts-madrid:sado/" title="Sado Madrid" target="_blank">Sado</a></li>
                        <li><a href="/escorts-madrid:orgias/" title="Orgias Madrid" target="_blank">Orgias</a></li>
                        <li><a href="/escorts-madrid:masajes-eroticos/" title="Masajes Eroticos Madrid" target="_blank">Masajes Eroticos</a></li>
                        <li><a href="/escorts-madrid:masaje/" title="Masaje Madrid" target="_blank">Masaje</a></li>
                        <li><a href="/escorts-madrid:lesbico/" title="Lésbico Madrid" target="_blank">Lésbico</a></li>
                        <li><a href="/escorts-madrid:juguetes/" title="Juguetes Madrid" target="_blank">Juguetes</a></li>
                        <li><a href="/escorts-madrid:griego/" title="Griego Madrid" target="_blank">Griego</a></li>
                        <li><a href="/escorts-madrid:garganta-profunda/" title="Garganta Profunda Madrid" target="_blank">Garganta Profunda</a></li>
                        <li><a href="/escorts-madrid:frances-natural/" title="Francés natural Madrid" target="_blank">Francés natural</a></li>
                        <li><a href="/escorts-madrid:frances/" title="Frances Madrid" target="_blank">Frances</a></li>
                        <li><a href="/escorts-madrid:fiestas/" title="Fiestas Madrid" target="_blank">Fiestas</a></li>
                        <li><a href="/escorts-madrid:fetichismo-de-pies/" title="Fetichismo de pies Madrid" target="_blank">Fetichismo de pies</a></li>
                        <li><a href="/escorts-madrid:fetichismo/" title="Fetichismo Madrid" target="_blank">Fetichismo</a></li>
                        <li><a href="/escorts-madrid:fantasias-sexuales/" title="Fantasias sexuales Madrid" target="_blank">Fantasias sexuales</a></li>
                        <li><a href="/escorts-madrid:duplex/" title="Dúplex Madrid" target="_blank">Dúplex</a></li>
                        <li><a href="/escorts-madrid:ducha-erotica/" title="Ducha Erotica Madrid" target="_blank">Ducha Erotica</a></li>
                        <li><a href="/escorts-madrid:cubana/" title="Cubana Madrid" target="_blank">Cubana</a></li>
                        <li><a href="/escorts-madrid:consultar/" title="Consultar Madrid" target="_blank">Consultar</a></li>
                        <li><a href="/escorts-madrid:besos/" title="Besos Madrid" target="_blank">Besos</a></li>
                        <li><a href="/escorts-madrid:atencion-a-parejas/" title="Atención a parejas Madrid" target="_blank">Atención a parejas</a></li>
                        <li><a href="/escorts-madrid:ama/" title="Ama Madrid" target="_blank">Ama</a></li>
                        <li><a href="/escorts-madrid:69/" title="69 Madrid" target="_blank">69</a></li>*@
                </ul>
                <p> </p>
                <h3 class="title rosa">Distritos de Atención</h3>
                <ul class="tag-link list-unstyled list-inline redo" id="container-distrito-atencion">
                    @*<li><a href="/escorts-en-madrid:rubias/" title="" target="_blank">Rubias</a></li>
                        <li><a href="/escorts-en-madrid:morenas/" title="" target="_blank">Morenas</a></li>
                        <li><a href="/escorts-en-madrid:pelirrojas/" title="" target="_blank">Pelirrojas</a></li>
                        <li><a href="/escorts-en-madrid:pechos-naturales/" title="" target="_blank">Pechos naturales</a></li>
                        <li><a href="/escorts-en-madrid:tetas-grandes/" title="" target="_blank">Tetas grandes</a></li>
                        <li><a href="/escorts-en-madrid:fiesteras/" title="" target="_blank">Fiesteras</a></li>
                        <li><a href="/escorts-en-madrid:viciosas/" title="" target="_blank">Viciosas</a></li>
                        <li><a href="/escorts-en-madrid:morbosas/" title="" target="_blank">Morbosas</a></li>
                        <li><a href="/escorts-en-madrid:whatsapp/" title="" target="_blank">Whatsapp</a></li>
                        <li><a href="/escorts-en-madrid:jovencitas/" title="" target="_blank">Jovencitas</a></li>
                        <li><a href="/escorts-en-madrid:educadas/" title="" target="_blank">Educadas</a></li>
                        <li><a href="/escorts-en-madrid:agencia/" title="" target="_blank">Agencia</a></li>
                        <li><a href="/escorts-en-madrid:apartamento-privado/" title="" target="_blank">Apartamento Privado</a></li>*@
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-brd-slim equal mg20" style="height: 517px;">
                <h3 class="title rosa">TARIFAS</h3>
                <ul class="list-unstyled" id="container-tarifa">
                    @*<li class="clearfix"><span class="pull-left">30 Minutos</span><span class="pull-right"><strong>50€</strong></span></li>
                        <li class="clearfix"><span class="pull-left">45 Minutos</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">1 Hora</span><span class="pull-right"><strong>100€</strong></span></li>
                        <li class="clearfix"><span class="pull-left">1 Hora y media</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">2 Horas</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">3 Horas</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">Salidas</span><span class="pull-right"><strong>100€</strong></span></li>
                        <li class="clearfix"><span class="pull-left">Toda la noche</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">Viajes</span><span class="pull-right"><strong>consultar</strong></span></li>
                        <li class="clearfix"><span class="pull-left">Forma de Pago:</span><span class="pull-right"><strong>Efectivo</strong></span></li>*@
                </ul>
            </div>
        </div>
    </div>
    <!--style="position: relative; height: 798px;"-->
    @*<ul class="row mg30 blq-fto list-unstyled galeria-chicas masonry" id="container-fotos-seccion-2">
            <li class="col-sm-6 item masonry-brick"><img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES" class="img-responsive full-img"></li>
            <li class="col-sm-6 item masonry-brick"><img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES" class="img-responsive full-img"></li>
            <li class="col-sm-6 item masonry-brick"><img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES" class="img-responsive full-img"></li>
            <li class="col-sm-6 item masonry-brick"><img src="" alt="Foto de: GRUPO DE AMIGAS SENSUALES" class="img-responsive full-img"></li>
        </ul>*@
    <div class="text-center clearfix mg20">
        <h4 class="title mg10">Si las fotos de esta ficha son falsas, puedes denunciarlas aquí. ¿Dónde has visto estas fotos?</h4>
        <h4>
            <form id="frmDenuncia" name="frmDenuncia" method="post" action="/procesos/denunciar.php" role="form" class="form-inline">
                <div class="form-group">
                    <label for="denuncia_url" class="control-label sr-only">Url de fotos falsas</label>
                    <input type="url" id="denuncia_url" name="denuncia_url" class="form-control" placeholder="https://">
                    <input type="hidden" id="denuncia_url_control" name="denuncia_url_control" class="form-control" value="">
                    <input type="hidden" id="denuncia_url_referido" name="denuncia_url_referido" class="form-control" value="/escorts-madrid/5448-grupo-de-amigas-sensuales/">
                    <input type="submit" class="btn btn-main text-uppercase no-radius" value="Denunciar">
                </div>
            </form>
        </h4>
    </div>

    <div class="clearfix sep-big mg30"></div>
    <ul class="blq-list-tiny rep row mg30 list-unstyled" id="container-fichas-anuncio">
        @*<li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/9065-anastasia/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/9065-anastasia/" class="no-deco bold block ellipsis">Anastasia</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">200€</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">Hola mi amor. Me llamo Anastasia, y soy una chica de descendencia mitad española y mitad Estonia. Llevo trabajando como escort en Madrid bastante tiempo y ya he conseguido hacerme mi huequito en el corazón de algunos hombres de diferentes nacionalidades. Hablo cuatro idiomas, y soy Licenciada en Periodismo, lo que me permite ofrecer un servicio de alto nivel que le gusta mucho a caballeros de cierta educación y clase, que no solo buscan sexo. Para mí, ser escort es sinónimo de conectar con una persona y entregarme a él en plenitud, tanto física como mentalmente. Este esfuerzo siempre me merece la pena porque satisfago tanto a mi acompañante como a mí misma. ¿Qué más se puede pedir? Soy la compañía perfecta si necesitas una chica con la que asistir a un evento importante, o a un acto social en el que necesitas ir bien acompañado. Soy detallista, simpática, culta, alegre y conversadora. Y sobre mi parte más erótica, decirte que conmigo podrás tener los mejores besos, las caricias más suaves y los masajes más relajantes. Te haré un francés natural con diferentes ritmos que te dejará sin palabra y haremos el amor de una forma tan apasionada que la recordarás para siempre. Me gusta pensar que soy una de esas escorts en Madrid que están a otro nivel. Si quieres probar, es muy sencillo. Llámame y quedemos hoy mismo.</div>
                    </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/7675-tatiana/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/7675-tatiana/" class="no-deco bold block ellipsis">Tatiana</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">120€</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">Hola, Soy Tatiana, te gusta la velocidad, el riesgo, ... pues soy tu chica delgada, guapa, y con ganas de divertirme como nunca. Tengo un cuerpo increíble que no te podrás terminar. Realizo todos los servicios, no tengo miedo a disfrutar y que disfrutes como más te guste, francés, fiesta blanca, ... lo que sea, soy una auténtica todoterreno. Solo y en exclusiva para Escorts Pasión Madrid, espero tu llamada. Atrévete soy una escort diseñada para valientes de verdad, para hombres que se atrevan a disfrutar del mejor sexo.</div>
                    </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/3848-elena/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/3848-elena/" class="no-deco bold block ellipsis">Elena</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">120€</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">Me encantan los hombres,soy Elena,una señorita de lujo rusa.Me gusta ir al grano,soy muy morbosa y sexual,también elegante fuera de la cama.Tengo unos ojos verdes como piedras preciosas, una boca de labios muy apetecibles.Me gusta ser muy femenina y sensual, tengo una piel suave como la seda y unos pechos pequeños como delicados montes.Soy una chica femenina y muy fogosa que desea calmar tus ganas de mujer y hacerte pasar un rato muy agradable. Ven y verás cumplidos tus anhelos más profundos, soy una experta en el placer masculino, lo verás por ti mismo.La cita que te propongo es rica y variada en actividades y prácticas, estoy dispuesta a dejarte en muy buen lugar si te acompaño a una cena.Ponte en contacto conmigo si quieres pasar a la acción.</div>
                    </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/9109-tamara/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description" style="margin-top: 0px;">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/9109-tamara/" class="no-deco bold block ellipsis">Tamara</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">200€</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">Esta maravillosa escort se llama Tamara, es una escort rusa que puedes conocer en Barcelona. Es una jovencita que puede presumir de belleza. Tiene 21 años y un cuerpo precioso, lleno de curvas, y movimientos insinuantes. Es absolutamente una muñeca, rostro precioso, cintura estrella, bonito pecho, movimientos frágiles y un saber estar y dulzura que te cautivarán. Te aseguramos que cuando la mires te impactará su belleza natural, con unos labios perfectos y una mirada que te hará soñar, lo que complementa a la perfección con su manera extrovertida de ser. Junto a ella un momento, una salida, una noche, un viaje, serán únicos. Esta estudiante de Periodismo se convertirá en un vicio para tí. Si te apetece sentirte como un rey, único y amado, ella es perfecta. Llámala y no podrás olvidarla.</div>
                    </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/8841-luna/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/8841-luna/" class="no-deco bold block ellipsis">Luna</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">120€</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">
                            Hola mi amor, soy Luna espectacular escort cuba de piel blanquita y morena que te está esperando en Madrid para enseñarte el placer que aún no conoces, el de mi cuerpo imponente con un gran pecho natural. Ven a verme. Lo que más me gusta es el francés, si vienes a conocerme comprobarás que mi técnica es insuperable. Podemos hacer cualquier cosa que te apetezca, desde un gran trato de novia a irnos de cena romántica. Además doy grandes masajes. No esperes más y llámame, te aseguro que no te arrepentirás y sólo querrás repetir una y otra vez. Seré la acompañante que buscabas. Me puedes encontrar en la agencia ESCORTS PASION MADRID, espero tus noticias hoy.

                        </div>
                    </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mg30">
                <div class="element">
                    <div class="imagen-wrapper">
                        <a href="/escorts-madrid/9571-sara/">
                            <img src="" alt="Sample" class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <ul class="sube list-unstyled clearfix">
                            <li class="izquierda text-left">
                                <a href="/escorts-madrid/9571-sara/" class="no-deco bold block ellipsis">Sara</a>
                                <span class="ft12 block">Madrid</span>
                            </li>
                            <li class="derecha text-left">
                                <span class="rosa bold block">consultar</span>
                                <span class="ft12 block">1 Hora</span>
                            </li>
                        </ul>
                        <div class="clearfix cuerpo">
                            Hola cariño. Si buscas disfrutar de una compañía muy especial, en mí encontrarás esa señorita complaciente y sensual que te hará vivir un encuentro que no olvidarás. Me llamo Sara, y soy una escort latina de mirada tentadora a la que el sexo le apasiona y disfruta de el sin límites, con naturalidad y sin tabúes. Nuestra cita será una experiencia única, un deleite para tus sentidos, donde conocerás el verdadero sexo y una GFE real. Las curvas de mi cuerpo desprenden pura sexualidad. Una provocación para tus deseos más íntimos y una oportunidad para que puedas dar rienda suelta a ellos ya que mi cuerpo está hecho para disfrutar de él al máximo. Llámame y todo eso con lo que sueñas tener de mí, será tuyo. Será un placer entregarme a tí. Te espero...
                        </div>
                    </div>
                </div>
            </li>*@
    </ul>
    <div class="text-center mg30">
        <a href="/escorts-madrid/" class="btn btn-main big-btn no-radius">VER MAS ESCORTS</a>
    </div>
</div>

<script src="~/js/modulo/generales.js"></script>
<script src="~/js/modulo/details/details.js"></script>

