@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/home/styleHome.css" rel="stylesheet" />
<div class="search-results">
    <div class="masonry">
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
        <div class="item">
            <img src="~/img/3.jpg" />
            <div class="icons-fichas">
                <span class="icons-fichas-info">
                    <span class="fa fa-info"></span>
                </span>
                <span class="icons-fichas-player ">
                    <span class="fa fa-play"></span>
                </span>
            </div>
            <a href="#" class="btn-small">Los Olivos</a>
            <a href="#" class="btn-small">25 años</a>
            <a href="#" class="btn-small">S/ 120</a>
            <a href="#" class="btn-small">Peru</a>
            <p class="descripcion">
                Back in 2011, when Pinterest was just launched, I myself tried creating its lookalike with plain CSS. I started off by using float and vertical-align properties on my inline-block elements (it sounds silly now). It didn’t help.
            </p>
        </div>
    </div>
</div>


@section scriptshome{
    <script type="text/javascript">   
        var responsedata = @Html.Raw(Json.Encode(ViewBag.Message));
    </script>
}
<script src="~/js/modulo/generales.js"></script>
<script src="~/js/modulo/home/home.js"></script>
