.carousel {
    background: #222;
}

@media (min-width: 1200px) {

    .carousel img {
        display: block;
        height: 500px;
    }

    .carousel.is-fullscreen .carousel-cell {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-cell {
        height: 520px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-cell img {
        height: 500px !important;
    }
}

@media (max-width: 480px) {
    .carousel-cell {
        height: 510px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-cell img {
        height: 500px ;            
    }
}

@media (max-width: 568px) {
    .carousel-cell {
        height: 690px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-cell img {
        height: 680px !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-cell {
        height: 690px;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-cell img {
        height: 680px !important;
    }
}

@media (max-width: 767px) {
    .carousel-cell {
        height: 690px;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-cell img {
        height: 680px !important;
            
    }
}

@media (max-width: 274px) {
    .carousel-cell {
        height: 400px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel img {
        display: block;
        height: 500px;
    }

    .carousel-cell img {
        height: 390px !important;
    }
}
