

@{
    ViewBag.Title = "Contratar Publicidad";
    Layout = "~/Views/Shared/_LayoutAnuncio.cshtml";
}
<div id="contenidoRight">
    <img src="../img/top-content.gif">
    <div id="mig">
        <h2>Publicidad</h2>
        <div class="textNormal">
            <p class="rosa">Todas las opciones para rentabilizar tu inversión publicitaria</p>
            <p>Si quieres realizar una campaña publicitaria a través de nuestra guía podemos ofrecerte diferentes opciones y estrategias para que puedas realizar una muy buena inversión.</p>
            <p>Te ofrecemos la publicación de tus servicios:</p>
            <ul class="listadoCheckeo">
                <li>Dentro de nuestra guía, a través de las diferentes opciones de banners disponibles</li>
                <li>Dentro de nuestro sistema de alertas segmentadas</li>
                <li>En nuestro <u><a href="https://www.hottescorts.es/blog/">Blog</a></u> mediante un publi reportaje</li>
                <li>Incorporación en nuestras redes sociales Facebook y Twitter</li>
            </ul>
            <p>Ponte en <u><a href="contactar.php">contacto</a></u> con nosotros, dinos cual es tu necesidad, estudiaremos el caso y te haremos la mejor propuesta.</p>
        </div>
    </div>
    <img src="../img/bottom-content.gif">
    <script src="~/js/modulo/generales.js"></script>
</div>