@{

    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/css/styleGeneral/riliwan-rabo.css" rel="stylesheet" />
    <link href="~/css/styleGeneral/style.css" rel="stylesheet" />
    <link href="~/css/styleGeneral/form.css" rel="stylesheet" />
    <link href="~/css/styleGeneral/loading-bars.css" rel="stylesheet" />
    <link href="~/css/styleGeneral/styleHeader.css" rel="stylesheet" />
</head>
<body style="background-color: #f2f2f2;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed Logo navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars fa-lg"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Publicidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="anuncio">Anunciate Ya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="panelcontrol">Login</a>
                </li>
                <li class="
            nav-item">
                    <a class="nav-link" href="#">Contactar</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="section" style="margin-top: 78px;">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer has-text-centered">
        <div>
            <a href="about"><strong> Autobot.</strong> </a><i>
                -A simple Angular project for playing with cars... while
                learning Angular ;-)
            </i>.
        </div>
        <div>
            <a href="https://github.com/AcademiaBinaria/astrobot/releases/tag/v2.0.0/" rel="noopener" target="_blank">
                v: 2-spa
            </a>
            <small>By <a href="https://twitter.com/albertobasalo">Alberto Basalo</a></small>
        </div>
    </footer>

    @RenderSection("scriptshome", false)
</body>
</html>
