@{

    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~"));
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>HottEscorts.es | Alta nuevo anuncio Paso 1</title>
    <link href="../css/clientes.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/wizard/form-elements.css" rel="stylesheet" />
    <link href="~/css/wizard/style.css" rel="stylesheet" />
    @*<script src="~/js/jquery-1.10.2.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
</head>
<body>

    <input type="hidden" value="@baseUri" id="url_base" />
    @*<div id="principal">
        <div id="headerPan">
            <img src="../img/logotipo.png">
        </div>
        <ul id="menuLeft">
            <li><a href="javascript:void(0);" onclick="AddAnuncio();" class="marcat">Publica nuevo anuncio</a></li>
            <li><a href="javascript:void(0);" onclick="MisAnuncio();">Mis Anuncios</a></li>
            <li><a href="javascript:void(0);" onclick="Publicidad();">Contratar Publicidad</a></li>
            <li><a href="javascript:void(0);" onclick="Contactar();">Contactar</a></li>
            <li><a href="javascript:void(0);" onclick="salir();">Salir</a></li>
        </ul>
        @RenderBody()
    </div>*@

    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="javascript:void(0);" onclick="AddAnuncio();" class="list-group-item active"><i class="fa fa-key"></i> <span>Publica nuevo anuncio</span></a>
                    <a href="javascript:void(0);" onclick="MisAnuncio();" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Mis Anuncios</span></a>
                    <a href="javascript:void(0);" onclick="Publicidad();" class="list-group-item"><i class="fa fa-question-circle"></i> <span>Contratar Publicidad</span></a>
                    <a href="javascript:void(0);" onclick="Contactar();" class="list-group-item"><i class="fa fa-arrow-circle-o-left"></i> <span>Contactar</span></a>
                    <a href="javascript:void(0);" onclick="salir();" class="list-group-item"><i class="fa fa-book"></i> <span>Salir</span></a>
                </div>
            </div>
            <div class="col-lg-8">                
                @RenderBody()
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.list-group-item').click(function (e) {                
                e.preventDefault();
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
            });
        });

    </script>

</body>
</html>
